section.cash-flow
  background-color: $primary
  .cash-flow-content
    width: 80%
    margin: 0 auto
    max-width: 1240px
    .text-and-photo
      display: flex
      justify-content: space-evenly
      align-items: flex-end
      margin-bottom: 30px
      .left
        h3
          font-size: 3.0rem
          color: $bg-color
        img
          height: 230px
      .right
        img
          height: 450px
    p
      font-size: 1.5rem
      color: $bg-color
      text-align: center
      font-weight: 400
      margin-top: 40px