section.faq
  .faq-content
    width: 80%
    margin: 0 auto
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    max-width: 1240px
    h3
      font-size: 3.0rem
      color: $sub-text
    .accordion-container
      width: 80%
      .accordion
        width: 100%
        text-align: left
        color: $sub-text
        transition: 0.4s
        padding: 20px 0
        padding-left: 0
        border: none
        outline: none
        background-color: $bg-color
        border-bottom: 0.5px solid $sub-text-light
        font-size: 1.2rem
        cursor: pointer
        &:first-of-type
          border-top: 0.5px solid $sub-text-light
        &:focus,hover
          outline: none 
        &:after
          content: ''
          background-image: url('../assets/icons/chevron-down.svg')
          float: right  
          margin-left: 10px
          margin-right: 10px
          height: 25px
          width: 25px
          color: $sub-text
      .active
        border-bottom: none
        &:after
          content: ""
          background-image: url('../assets/icons/chevron-down.svg')
          transform: ScaleY(-1)
      .panel
        color: $sub-text
        justify-content: center
        align-items: center
        max-height: 0
        overflow: hidden
        transition: max-height 0.2s ease-out
        p
          margin: 0
          margin-bottom: 20px
          font-size: 1.2rem
          line-height: 1.5
          letter-spacing: .6px
          color: $sub-text-light
          text-align: left
    p
      margin: 40px 0
      font-size: 1.1rem
      span
        font-weight: 500
        color: #5F8FBE
        


@media screen and (max-width: 1060px)
  section.faq
    .faq-content
      padding: 100px 0
      .accordion-container
        width: 100%

@media screen and (max-width: 640px)
  section.faq
    .faq-content
      h3
        font-size: 2.2rem
      .accordion-container
        .accordion
          font-size: 1.0rem
        .panel
          p
            font-size: 1.0rem