footer.bottom-nav
  background-color: #000
  .bottom-nav-content
    width: 80%
    padding: 80px 0
    margin: 0 auto
    .link-grid
      display: flex
      width: 70%
      margin-right: auto
      text-align: left
      justify-content: space-between
      margin-bottom: 50px
      .column
        display: flex
        flex-direction: column
        align-items: flex-start
        h4
          font-size: 1.2rem
          color: #828282
        a
          font-size: 1.0rem
          color: $bg-color
          &:not(:last-of-type)
            margin-bottom: 20px
    hr
      border: 0.5px solid #828282
      margin-bottom: 25px
    .final-line
      display: flex
      justify-content: space-between
      color: #fff
      span
        font-size: 1.1rem
      span#copyright
        font-size: 1.3rem
        margin-right: 5px
      .social-media
        display: flex
        justify-content: space-between
        align-items: center
        img:not(:last-of-type)
          margin-right: 15px

@media screen and (max-width: 600px)
  footer.bottom-nav
    .bottom-nav-content
      .link-grid
        width: 100%
        .column
          h4  
            font-size: 1.0rem
          a
            font-size: .9rem
        .column:not(:last-of-type)
          margin-right: 20px
      .final-line
        display: block
        .company
          text-align: center
        .social-media
          width: unset
          justify-content: center
          margin-top: 20px
          img:not(:last-of-type)
            margin-right: 15px