section.intro
  .intro-content
    width: 80%
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: space-between
    max-width: 1240px
    .text-left
      h2
        font-size: 4.2rem
        color: $primary
        margin-top: 25px
        margin-bottom: 0
      h4
        color: $primary
        font-size: 1.2rem
        font-weight: 400
        margin-top: 15px
        margin-bottom: 30px
      .email-input
        height: 55px
        position: relative
        display: flex
        justify-content: space-between
        input
          border: none
          border-radius: 25px
          width: 100%
          height: 100%
          background-color: $input-bg
          padding: 0
          padding-left: 15px
          font-size: 1rem
          color: $sub-text-light
          &:focus
            outline: none
          &::placeholder
            color: $sub-text-light
        a.join-btn
          position: absolute
          top: 0
          right: 0
          width: 33%
          background-color: $primary
          color: #fff
          padding: 7px 15px
          border-radius: 25px
          text-align: center
          height: 100%
          font-size: 1.0rem
    .image-right
      max-width: 53%
      img
        height: 650px


@media screen and (max-width: 949px)
  section.intro
    .intro-content
      padding-top: 15%
      text-align: center
      .text-left
        width: 100%
        h2
          margin-top: 0
      .image-right
        display: none
      .email-input
        width: 80%
        margin: 0 auto

@media screen and (max-width: 640px)
  section.intro
    .intro-content
      .email-input
        width: 100%

@media screen and (max-width: 599px)
  section.intro
    .intro-content
      .text-left
        h2
          font-size: 2.2rem
        h4
          font-size: 1.2rem
        .email-input
          position: static
          width: 100%
          height: 120px
          flex-direction: column
          align-items: center
          text-align: center
          input
            font-size: 0.9rem
            padding: 0 15px
            text-align: center
            height: 60px
          a.join-btn
            position: static
            font-size: 0.9rem
            width: 50%
            margin: 0 auto
            margin-top: 20px
            height: 50px
      

@media screen and (min-width: 600px)
  section.intro
    .intro-content
      .text-left
        h2
          font-size: 4.0rem
        h4
          font-size: 1.3rem

@media screen and (min-width: 950px)
  section.intro
    .intro-content
      .text-left
        h2
          font-size: 3.3rem
        h4
          font-size: 1.0rem
        .email-input
          a.join-btn
            font-size: .8rem
      .image-right
        img
          height: 600px  

@media screen and (min-width: 1024px)
  section.intro
    .intro-content
      .text-left
        h2
          font-size: 3.5rem
        h4
          font-size: 1.0rem
        .email-input
          a.join-btn
            font-size: .9rem
            width: 32%
      .image-right
        img
          height: 620px

@media screen and (min-width: 1200px)
  section.intro
    .intro-content
      .text-left
        h2
          font-size: 4.0rem
        h4
          font-size: 1.1rem
        .email-input
          a.join-btn
            height: 100%
      .image-right
        img
          height: 640px

@media screen and (min-width: 1300px)
  section.intro
    .intro-content
      .text-left
        h2
          font-size: 4.5rem
      .image-right
        img
          height: 700px