section.loans
  margin: 100px 0
  .loans-content
    width: 80%
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: space-around
    padding: 50px 0
    .text-left
      h3
        font-size: 2.5rem
        color: $primary
      .payment
        display: flex
        align-items: center
        margin-bottom: 25px
        img
          height: 40px
          &:last-of-type
            height: 50px
          &:not(:last-of-type)
            margin-right: 30px
      .play-video
        display: flex
        align-items: center
        margin: 20px 0
        .play-cont
          background-color: $sub-text-light
          width: 28px
          height: 28px
          border-radius: 50%
          position: relative
          margin-right: 15px
          span
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            color: #fff
        span
          color: $sub-text-light
          font-weight: 500
