section.loans
  .loans-content
    width: 80%
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: space-around
    .text-left
      h3
        font-size: 3.0rem
        color: $primary
      .payment
        display: flex
        align-items: center
        margin-bottom: 35px
        img
          height: 40px
          &:last-of-type
            height: 50px
          &:not(:last-of-type)
            margin-right: 30px
      .play-video
        display: flex
        align-items: center
        margin: 20px 0
        .play-cont
          background-color: $sub-text-light
          width: 28px
          height: 28px
          border-radius: 50%
          position: relative
          margin-right: 15px
          span
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-40%, -45%)
            color: #fff
        span
          color: $sub-text-light
          font-weight: 500
          font-size: 1.2rem
    .image-right
      img
        height: 550px
