section.loans
  position: relative
  .overlay
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    background-color: rgba(0,0,0,0.5)  
    z-index: 90
    display: none
    .close-btn
      position: absolute
      top: 30%
      right: 50%
      background-color: #fff
      border-radius: 50%
      padding: 5px
      z-index: 150
      transform: translateX(50%)
      a
        img
          height: 20px
          width: 20px
          z-index: 200
  .loans-content
    width: 80%
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: space-between
    max-width: 1240px
    position: relative
    .text-left
      h3
        font-size: 2.6rem
        color: $primary
      .payment
        display: flex
        align-items: center
        margin-bottom: 35px
        img
          height: 40px
          &:last-of-type
            height: 50px
          &:not(:last-of-type)
            margin-right: 30px
      .play-video
        display: flex
        align-items: center
        margin: 20px 0
        cursor: pointer
        .play-cont
          background-color: $sub-text-light
          width: 28px
          height: 28px
          border-radius: 50%
          position: relative
          margin-right: 15px
          span
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-40%, -51%)
            color: #fff
        span
          color: $sub-text-light
          font-weight: 500
          font-size: 1.2rem
    .image-right
      img
        height: 550px
    .video-container
      width: 100%
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      z-index: 100
      +card-shadow
      display: none
      .video-content
        position: relative
        padding-bottom: 56.25%
        padding-top: 35px
        height: 0
        overflow: hidden
        iframe
          position: absolute
          top: 0
          left: 0
          height: 100%
          width: 100%


@media screen and (max-width: 1000px)
  section.loans
    .loans-content
      flex-direction: column-reverse
      padding: 100px 0
      .image-right
        width: 100%
        img
          width: 100%
          height: auto
          margin: 0 auto
          display: flex
      .text-left
        margin-bottom: 30px
        text-align: center
        .payment, .play-video
          justify-content: center


@media screen and (max-width: 600px)
  section.loans
    .loans-content
      .image-right
        img
          width: 100%
      .text-left
        h3
          font-size: 2.2rem
        .play-video
          .play-cont
            span
              font-size: 1.4rem

@media screen and (min-width: 1280px)
  section.loans
    .overlay
      .close-btn
        top: 10%
        right: 12%
        transform: unset
    .loans-content
      .video-container
        width: 80%

@media screen and (min-width: 1300px)
  section.loans
    .loans-content
      .text-left
        max-width: 50%
        h3
          font-size: 3.0rem
      