.navbar
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 20px
  .left-items
    display: flex
    align-items: center
    .brand
      display: flex
      align-items: center
      margin-right: 30px
      a
        img
          width: 130px
    ul
      display: flex
      li
        &:not(:last-of-type)
          margin-right: 25px
        a.nav-link
          color: $secondary
  .right-items
    ul.navlist
      display: flex
      align-items: center
      li
        &:not(:last-of-type)
          margin-right: 25px
        a.nav-link
          color: $secondary
        #sign-up-btn
          background-color: $primary
          color: #fff
          padding: 12px 28px
          border-radius: 5px


div.dropdown-menu
	display: none
	a
		text-decoration: none
		color: #000000
		font-size: 1.9rem
		&:click
			outline: none
		img
			margin-top: 10px


@media screen and (max-width: 600px)
	.navbar
    .left-items
      ul.navlist
        display: none
    .right-items
      ul.navlist
        display: none
    div.dropdown-menu
      display: block

    
  
