section.offer
  .offer-content
    width: 80%
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: space-around
    .amt-card-left
      .amt-card-bg
        height: 600px
        width: 470px
        background-color: $card-bg
        border-radius: 15px
        position: relative
        .amt-card
          background-color: $bg-color
          border-radius: 15px
          position: absolute
          top: 40%
          left: 50%
          transform: translate(-50%, -43%)
          width: 85%
          height: 80%
          display: flex
          align-items: center
          justify-content: center
          .amt-card-content
            text-align: center
            h4
              font-size: 1.3rem
              color: $sub-text
            h3
              font-size: 2.8rem
              color: $accent
            input#amount-range
              width: 100%
              margin: 0
              margin-bottom: 40px
              -webkit-appearance: none
              height: 8px
              background-color: $accent
              border-radius: 5px
              &:focus
                outline: none
              &::-webkit-slider-thumb
                -webkit-appearance: none
                background: $accent
                height: 25px
                width: 25px
                border: none
                border-radius: 50%
            .fee-container
              display: flex
              justify-content: space-between
              margin: 10px 0
              color: $sub-text
              font-weight: 500
        span#ill
          position: absolute
          bottom: 5%
          left: 50%
          transform: translate(-50%, 0)
          color: $sub-text
          font-weight: 500
    .text-right
      h3
        font-size: 3.0rem
        margin-top: 0
        color: $primary
      p
        font-size: 1.5rem
        font-weight: 600
        color: $sub-text